<?xml version="1.0"?>
<settings>
	<!--<Date of Build>.<Build Number>-->
	<version>3-22-2022.0</version>
	
	<!--Place your bot token here-->
	<token>OTUxODcxMjM2MzI0MDg5ODY2.YitxKw.oFEnq1t6Na_CuWxIYxXKFWo_4NI</token>
	
	<!--Your command prefix-->
	<prefix>!</prefix>
	
	<lavalink>
		<!--These must match your Lavalink settings!-->
		<hostname>127.0.0.1</hostname>
		<port>2333</port>
		<password>youshallnotpass</password>
	</lavalink>
</settings>