<?xml version="1.0"?>
<settings>
	<!--<Date of Build>.<Build Number>-->
	<version>4-2-2022.0</version>
	
	<!--Place your bot token here-->
	<token></token>
	
	<!--Your command prefix-->
	<prefix>!</prefix>
	
	<lavalink>
		<!--These must match your Lavalink settings!-->
		<hostname></hostname>
		<port></port>
		<password></password>
	</lavalink>
</settings>